<h1>Add a New Flat</h1>

<%= simple_form_for(@flat) do |form| %>
  <%= form.input :name %>
  <%= form.input :address %>
  <%= form.input :description %>
  <%= form.input :price_per_night %>
  <%= form.input :number_of_guests %>
  <%= form.button :submit, 'Create Flat', class: 'btn btn-primary' %>
<% end %>
